@using SubaruEfficiencyTracking.Models
@model RoEntryViewModel;
@{
    ViewBag.HeaderTitle = "Detailed Report";

    Layout = "~/Views/Shared/Layout.cshtml";
}


<div class="row">
    <div class="col-2 dropDownOption">
        <label for="timePeriod">Time Period: </label>
        <select id="timePeriod" onchange="LoadListFromFilters();">
            @foreach (PayPeriodModel Period in Model.PayPeriods)
            {
                <option value="@Period.PayPeriodGuid" @(Period.PayPeriodGuid == Model.SelectedPayPeriodGuid ? "selected" : "")>@Period.StartDate.ToShortDateString() - @Period.EndDate.ToShortDateString()</option>
            }
        </select><br><br>
    </div>
    <div class="col-2 dropDownOption">
        <label for="StoreLocation">Store: </label>
        <select id="StoreLocation" onchange="LoadListFromFilters();">
            @foreach (StoreLocationModel store in Model.Stores)
            {
                <option value="@store.StoreGuid" @(store.StoreGuid == Model.SelectedStoreGuid ? "selected" : "")>@store.StoreName</option>
            }
        </select><br><br>
    </div>
    <div class="col-2 dropDownOption">
        <label for="TechFilter">Tech Filter:  </label>
        <select id="TechFilter" onchange="LoadListFromFilters();">
            @foreach (TechModel Tech in Model.Techs)
            {
                <option value="@Tech.TechGuid" @(Tech.TechGuid == Model.SelectedTechGuid ? "selected" : "")>@Tech.TechFirstName @Tech.TechLastName - @Tech.TechNumber </option>
            }
        </select><br><br>
    </div>
</div>
<div class="row" id="infoHeader">
    <div class="col-2 infoDiv">Tech Name</div>
    <div class="col-1 infoDiv">Tech Number</div>
    <div class="col-1 infoDiv">Opened</div>
    <div class="col-1 infoDiv">Closed</div>
    <div class="col-2 infoDiv">Time to Complete</div>
    <div class="col-2 infoDiv">Expected Hours</div>
    <div class="col-2">Overall Efficiency</div>
</div>
<div id="TechStats">
    @if (Model.TechTimeDetails != null)
    {
        foreach (TimeModel t in Model.TechTimeDetails)
        {
            TechModel currTech = Model.Techs.Find(m => m.TechGuid == t.TechGuid);
            <div class="row altRowColors">
                <div class="col-2">@currTech.TechFirstName @currTech.TechLastName</div>
                <div class="col-1 ">@currTech.TechNumber</div>
                <div class="col-1 ">@t.OpenTime.ToString("HH:mm")</div>
                <div class="col-1 ">@t.CloseTime.ToString("HH:mm")</div>
                <div class="col-2 ">@t.TotalTime</div>
                <div class="col-2 ">@t.ExptHours</div>
                <div class="col-2 ">@t.overallEfficiency</div>
            </div>
        }
    }
</div>

@section Scripts
    {
    <script type="text/javascript">
        function LoadListFromFilters() {
            var url = "/Tracking/TechTimes?";
            url += "p=" + $("#timePeriod").val();
            url += "&t=" + $("#TechFilter").val();
            url += "&s=" + $("#StoreLocation").val();
            window.location = url;
        }
    </script>
}